<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"

	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>monitorApiSevlet</servlet-name>
		<servlet-class>com.waspring.framework.antenna.monitor.api.MonitorApiServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>monitorApiSevlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>monitorServlet</servlet-name>
		<servlet-class>com.waspring.framework.antenna.access.servlet.AntennaServlet</servlet-class>
		<init-param>
			<param-name>containerId</param-name>
			<param-value>monitor</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitorServlet</servlet-name>
		<url-pattern>/monitor</url-pattern>

	</servlet-mapping>

	<listener>
		<listener-class>com.waspring.framework.antenna.access.servlet.AntennaListener</listener-class>
	</listener>
	<context-param>
		<param-name>atennaConfigLocation</param-name>
		<param-value>
			classpath://monitor-container.xml
		</param-value>
	</context-param>

	<context-param>
		<param-name>atennaPropertyLocation</param-name>
		<param-value>
			classpath://init.properties
		</param-value>
	</context-param>



	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
</web-app>